[submodule "FastLED"]
	path = FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "Tank Source/FastLED"]
	path = Tank Source/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "Tank Source/lib/mode"]
	path = Tank Source/lib/mode
	url = https://github.com/FastLED/FastLED.git
